.changepassword-container {
    padding: 1rem;
    height: inherit;
    margin-top: 10%;
}
.changepassword-form {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.changepassword-form input {
    padding: 1rem;
    border: none;
    border-bottom: 1px solid grey;
}

.changepassword-form .title {
    font-size: 3rem;
    font-weight: 700;
}

.changepassword-form .submit button{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: brown;
    cursor: pointer;
    color: white;
}