table {
  margin-top: 2rem;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
  background-color: white;
  border-collapse: collapse;
  border-radius: 1rem;
  overflow: hidden;
}

.completed {
  border-radius: 15em solid red;
}
.table-container {
  border-radius: 1rem;
}

th {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.col-1 {
  width: 10%;
}
.col-2 {
  width: 15%;
}
.col-3 {
  width: 60%;
}
.col-4 {
  width: 15%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
