.container {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 200px 1fr;
    gap: 1rem;
    height: inherit;
  }
  
  .grid-item {
    background-color: gray;
    padding: 20px;
    font-size: 2rem;
  }
  
  .sidebar {
    grid-row: 2/-1;
    grid-column: 1/2;
    border: 2px solid white;
    border-radius: 1rem;
  }
  
  .content {
    grid-row: 2/3;
    grid-column: 2/3;
    border: 2px solid white;
    border-radius: 1rem;
  }
  
  .topbar {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7d053f;
    border: 2px solid white;
    border-radius: 1rem;
  }
  
  .logo-tab {
    width: 70px !important;
    height: 7rem !important;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Dancing Script", cursive;
    color: white;
    font-size: 700;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a.active {
    color: rgb(251, 247, 247);
  }
  